<owl-carousel-o navElement="product_list_slider" [options]="customOptions">
  <ng-container *ngFor="let in of counter(count); let i = index">
    <ng-template carouselSlide>
      <div class="single_product_list_slider">
        <div class="row align-items-center justify-content-between">
          <ng-container
            *ngFor="let slide of slidesStore.slice(i * 8, (i + 1) * 8)"
          >
            <div class="col-lg-3 col-sm-6">
              <app-product [product]="slide"></app-product>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <!-- <ng-container *ngFor="let slides of slidesStore">
    <ng-template carouselSlide>
      <div class="single_product_list_slider">
        <div class="row align-items-center justify-content-between">
          <ng-container *ngFor="let slide of slides">
            <div class="col-lg-3 col-sm-6">
              <app-product [product]="slide"></app-product>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </ng-container> -->
</owl-carousel-o>

<!-- <owl-carousel-o navElement="product_list_slider" [options]="customOptions">
  <ng-template carouselSlide>
    <div class="single_product_list_slider">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-3 col-sm-6">
          <app-product></app-product>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_2.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_3.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_4.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_5.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_6.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_7.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_8.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    ></ng-template
  >
  <ng-template carouselSlide>
    <div class="single_product_list_slider">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_1.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_2.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_3.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_4.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_5.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_6.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_7.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_product_item">
            <img src="assets/img/product/product_8.png" alt="" />
            <div class="single_product_text">
              <h4>Quartz Belt Watch</h4>
              <h3>$150.00</h3>
              <a routerLink="/#" class="add_cart"
                >+ add to cart<i class="ti-heart"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o> -->
