<!-- banner part start-->

<!-- banner part start-->

<!-- feature_part start-->
<section class="banner_part">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <app-owl-slider-home></app-owl-slider-home>
      </div>
    </div>
  </div>
</section>
<section class="feature_part padding_top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section_tittle text-center">
          <h2>Featured Category</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-7 col-sm-6">
        <div class="single_feature_post_text">
          <p>Premium Quality</p>
          <h3>Latest foam Sofa</h3>
          <a routerLink="/#" class="feature_btn"
            >EXPLORE NOW <i class="fas fa-play"></i
          ></a>
          <img src="assets/img/feature/feature_1.png" alt="" />
        </div>
      </div>
      <div class="col-lg-5 col-sm-6">
        <div class="single_feature_post_text">
          <p>Premium Quality</p>
          <h3>Latest foam Sofa</h3>
          <a routerLink="/#" class="feature_btn"
            >EXPLORE NOW <i class="fas fa-play"></i
          ></a>
          <img src="assets/img/feature/feature_2.png" alt="" />
        </div>
      </div>
      <div class="col-lg-5 col-sm-6">
        <div class="single_feature_post_text">
          <p>Premium Quality</p>
          <h3>Latest foam Sofa</h3>
          <a routerLink="/#" class="feature_btn"
            >EXPLORE NOW <i class="fas fa-play"></i
          ></a>
          <img src="assets/img/feature/feature_3.png" alt="" />
        </div>
      </div>
      <div class="col-lg-7 col-sm-6">
        <div class="single_feature_post_text">
          <p>Premium Quality</p>
          <h3>Latest foam Sofa</h3>
          <a routerLink="/#" class="feature_btn"
            >EXPLORE NOW <i class="fas fa-play"></i
          ></a>
          <img src="assets/img/feature/feature_4.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- upcoming_event part start-->

<!-- product_list start-->
<section class="product_list section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section_tittle text-center">
          <h2>awesome <span>shop</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <app-owl-shop-home></app-owl-shop-home>
        <div class="product_list_slider owl-carousel"></div>
      </div>
    </div>
  </div>
</section>
<!-- product_list part start-->

<!-- awesome_shop start-->
<section class="our_offer section_padding">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-6 col-md-6">
        <div class="offer_img">
          <img src="assets/img/offer_img.png" alt="" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="offer_text">
          <h2>Weekly Sale on 60% Off All Products</h2>
          <div class="date_countdown">
            <div id="timer">
              <div id="days" class="date"></div>
              <div id="hours" class="date"></div>
              <div id="minutes" class="date"></div>
              <div id="seconds" class="date"></div>
            </div>
          </div>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="enter email address"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <a
                routerLink="/#"
                class="input-group-text btn_2"
                id="basic-addon2"
                >book now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- awesome_shop part start-->

<!-- product_list part start-->
<section class="product_list best_seller section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section_tittle text-center">
          <h2>Best Sellers <span>shop</span></h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-12">
        <app-owl-best-sellers-home></app-owl-best-sellers-home>
      </div>
    </div>
  </div>
</section>
<!-- product_list part end-->

<!-- subscribe_area part start-->
<section class="subscribe_area section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="subscribe_area_text text-center">
          <h5>Join Our Newsletter</h5>
          <h2>Subscribe to get Updated with new offers</h2>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="enter email address"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <a
                routerLink="/#"
                class="input-group-text btn_2"
                id="basic-addon2"
                >subscribe now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--::subscribe_area part end::-->

<!-- subscribe_area part start-->
<section class="client_logo padding_top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="single_client_logo">
          <img src="assets/img/client_logo/client_logo_1.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="assets/img/client_logo/client_logo_2.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="assets/img/client_logo/client_logo_3.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="assets/img/client_logo/client_logo_4.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="assets/img/client_logo/client_logo_5.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="assets/img/client_logo/client_logo_3.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="assets/img/client_logo/client_logo_1.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="assets/img/client_logo/client_logo_2.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="assets/img/client_logo/client_logo_3.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="assets/img/client_logo/client_logo_4.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!--::subscribe_area part end::-->

<!--::footer_part start::-->
<footer class="footer_part">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-sm-6 col-lg-2">
        <div class="single_footer_part">
          <h4>Top Products</h4>
          <ul class="list-unstyled">
            <li><a routerLink="/">Managed Website</a></li>
            <li><a routerLink="/">Manage Reputation</a></li>
            <li><a routerLink="/">Power Tools</a></li>
            <li><a routerLink="/">Marketing Service</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="single_footer_part">
          <h4>Quick Links</h4>
          <ul class="list-unstyled">
            <li><a routerLink="/">Jobs</a></li>
            <li><a routerLink="/">Brand Assets</a></li>
            <li><a routerLink="/">Investor Relations</a></li>
            <li><a routerLink="/">Terms of Service</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="single_footer_part">
          <h4>Features</h4>
          <ul class="list-unstyled">
            <li><a routerLink="/">Jobs</a></li>
            <li><a routerLink="/">Brand Assets</a></li>
            <li><a routerLink="/">Investor Relations</a></li>
            <li><a routerLink="/">Terms of Service</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="single_footer_part">
          <h4>Resources</h4>
          <ul class="list-unstyled">
            <li><a routerLink="/">Guides</a></li>
            <li><a routerLink="/">Research</a></li>
            <li><a routerLink="/">Experts</a></li>
            <li><a routerLink="/">Agencies</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="single_footer_part">
          <h4>Newsletter</h4>
          <p>Heaven fruitful doesn't over lesser in days. Appear creeping</p>
          <div id="mc_embed_signup">
            <form
              target="_blank"
              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
              method="get"
              class="subscribe_form relative mail_part"
            >
              <input
                type="email"
                name="email"
                id="newsletter-form-email"
                placeholder="Email Address"
                class="placeholder hide-on-focus"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = ' Email Address '"
              />
              <button
                type="submit"
                name="submit"
                id="newsletter-submit"
                class="email_icon newsletter-submit button-contactForm"
              >
                subscribe
              </button>
              <div class="mt-10 info"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright_part">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="copyright_text">
            <P
              ><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="ti-heart" aria-hidden="true"></i> by
              <a routerLink="/https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></P
            >
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer_icon social_icon">
            <ul class="list-unstyled">
              <li>
                <a routerLink="/#" class="single_social_icon"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a routerLink="/#" class="single_social_icon"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a routerLink="/#" class="single_social_icon"
                  ><i class="fas fa-globe"></i
                ></a>
              </li>
              <li>
                <a routerLink="/#" class="single_social_icon"
                  ><i class="fab fa-behance"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
